.cracker-view{
    width: 80%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.cracker-list-item{
    width: 262px!important;
}
.cracker-display-list{
    align-items: flex-start;
    justify-content: center;
}
.category li{
    list-style: none;
    cursor: pointer;
font-size: 14px;
margin-bottom: 10px;
padding: 10px 0px;
border-radius: 30px;
position: relative;
}
.category li::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: grey;
    left: 0;
    bottom: 0;
}
.category li:hover{
    background-color: grey;
    color: white;
}
.run h3{
    font-size: 22px;
    text-decoration: underline;
    margin-top: 10px;
}
.run{
    background-color:white;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    width: 19%;
}
.ruin{
width: 100%;
text-align: center;
display: none;

}
@media(max-width:480px){
.run{
    display: none;
   
}
.ruin{
    display: block;
}
}